# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
ENV/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Data files (optional, if they're large)
*.csv
*.xlsx